{% extends 'base.html' %}
{% block title %}个人中心{% endblock %}
{% block content %}
<h2 class="mb-3">个人中心</h2>
<div class="row g-3 align-items-start">
  <div class="col-lg-7">
    <div class="card p-3 h-100">
      <h5>个人信息</h5>
      <div class="row g-2">
        <div class="col-md-6"><label class="form-label">用户名</label><input class="form-control" id="pfUsername"></div>
        <div class="col-md-6"><label class="form-label">邮箱</label><input class="form-control" id="pfEmail"></div>
        <div class="col-md-6"><label class="form-label">电话</label><input class="form-control" id="pfPhone"></div>
        <div class="col-md-6"><label class="form-label">头像URL</label><input class="form-control" id="pfAvatar"></div>
        <div class="col-md-12"><label class="form-label">注册时间</label><input class="form-control" id="pfCreated" disabled></div>
      </div>
      <button class="btn btn-primary mt-3" id="saveProfileBtn">保存个人信息</button>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="card p-3 h-100">
      <h5>账号操作</h5>
      <div class="d-grid gap-2">
        <button class="btn btn-outline-primary" id="changePwdBtn">修改密码</button>
        <button class="btn btn-outline-secondary" id="reloginBtn">重新登录</button>
        <a class="btn btn-outline-success" href="{{ url_for('register') }}">注册新账号</a>
        <a class="btn btn-danger" href="{{ url_for('logout') }}">退出登录</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}
